/* Home Page Styles */
@font-face {
  font-family: cursiveFont;
  src: url(caveat-font.ttf);
}

* {
  font-family: cursiveFont;
  max-width: 100vh;
  max-height: 100vh;
}

body {
  background-color: #6F4D38;
}

#title {
  color: #dac7ad;
  font-size: 50px;
  position: relative;
  left: 10%;
}

#cover {
  display: block;
  position: relative;
  margin: auto;
  right: 10%;
  z-index: 1;
}

#blurb-paragraph {
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 36px;
}

.blurb-container {
  padding: 5px;
  background-color: beige;
  position: static;
}

li {
  margin: 50px;
}

/* Contact Page Styles */
